In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Yerbogachen,RU,2020-11-26 17:42:25,61.28,108.01,2.97,93,85,8.05
1,1,Menton,FR,2020-11-26 17:42:26,43.78,7.50,55.40,76,40,6.93
2,2,Vaini,TO,2020-11-26 17:42:27,-21.20,-175.20,75.20,94,20,8.05
3,3,Kapaa,US,2020-11-26 17:42:27,22.08,-159.32,71.60,94,90,8.05
4,4,Qaanaaq,GL,2020-11-26 17:42:27,77.48,-69.36,-9.63,70,3,3.65

In [3]:
# Get data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Vaini,TO,2020-11-26 17:42:27,-21.20,-175.20,75.20,94,20,8.05
5,5,Veraval,IN,2020-11-26 17:42:28,20.90,70.37,76.66,42,29,15.68
9,9,Souillac,MU,2020-11-26 17:42:29,-20.52,57.52,75.20,78,40,6.93
12,12,The Valley,AI,2020-11-26 17:42:30,18.22,-63.06,86.00,69,20,11.41
14,14,Atuona,PF,2020-11-26 17:42:31,-9.80,-139.03,77.32,73,72,15.19
15,15,Prado,BR,2020-11-26 17:42:31,-17.34,-39.22,78.67,74,97,11.48
18,18,Waingapu,ID,2020-11-26 17:42:33,-9.66,120.26,81.18,77,100,3.42
22,22,Ayorou,NE,2020-11-26 17:42:35,14.73,0.92,82.92,15,0,7.43
28,28,Saint-Philippe,RE,2020-11-26 17:42:37,-21.36,55.77,77.00,73,60,10.29
30,30,Najran,SA,2020-11-26 17:42:42,17.49,44.13,77.00,29,20,9.17

In [20]:
preferred_cities_df.count()

City_ID       182
City          182
Country       181
Date          182
Lat           182
Lng           182
Max Temp      182
Humidity      182
Cloudiness    182
Wind Speed    182
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
2            Vaini      TO     75.20 -21.20 -175.20
5          Veraval      IN     76.66  20.90   70.37
9         Souillac      MU     75.20 -20.52   57.52
12      The Valley      AI     86.00  18.22  -63.06
14          Atuona      PF     77.32  -9.80 -139.03
15           Prado      BR     78.67 -17.34  -39.22
18        Waingapu      ID     81.18  -9.66  120.26
22          Ayorou      NE     82.92  14.73    0.92
28  Saint-Philippe      RE     77.00 -21.36   55.77
30          Najran      SA     77.00  17.49   44.13

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Vaini,TO,75.20,-21.20,-175.20,Keleti Beach Resort
5,Veraval,IN,76.66,20.90,70.37,Lords Inn Somnath
9,Souillac,MU,75.20,-20.52,57.52,Bils' Villa
12,The Valley,AI,86.00,18.22,-63.06,CeBlue Villas & Beach Resort
14,Atuona,PF,77.32,-9.80,-139.03,Villa Enata
...,...,...,...,...,...,...
563,Samarai,PG,78.69,-10.62,150.67,Nuli Sapi
565,Chiredzi,ZW,78.51,-21.05,31.67,The Nesbitt Arms
566,Daru,PG,76.62,-9.08,143.21,New century hotel
567,San Jose De Buan,PH,75.00,12.05,125.03,
568,Muttupet,IN,78.62,10.40,79.48,Hotel Star Residency

In [28]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [31]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [32]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))